.Rproj.user
.Rhistory
.RData
.Ruserdata

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx
*.7z

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
Documents/*
